.git
.github
.venv
.vscode
.cursor
.ruff_cache
.pytest_cache
.mypy_cache
.secrets.baseline
__pycache__

data/
tests/
docs/
*.md
!README.md

*.pyc
*.pyo
*.egg-info
dist/
build/

compose.yml
.dockerignore
.pre-commit-config.yaml
.gitignore
